<div layout="column">
    <md-content layout-gt-sm="column" class="layout-align-start-center layout-column">
        <h1 class="md-title">Creating your game</h1>
        <md-input-container>
            <label>What's your name?</label>
            <input ng-model="createVm.user.name" autocomplete="off" autofocus>
        </md-input-container>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="createVm.createGame()">
                Create
            </md-button>
            <md-button href="/" class="md-raised">
                Back
            </md-button>
        </div>
    </md-content>
</div>
