<div layout="column">
    <div>Game started!</div>

    <div>You are {{gameVm.getRole}} </div>
    <div >
        <div ng-if="gameVm.isMerlin()">Players of Evil: <span ng-repeat="name in gameVm.getEvilUserNames"> {{name}} </span></div>
        <div ng-if="gameVm.isPercival()">Merlin(s): <span ng-repeat="name in gameVm.getMerlinUserNames"> {{name}} </span> </div>
        <div ng-if="gameVm.isEvil()">Players of Evil <span ng-repeat="name in gameVm.getEvilUserNames"> {{name}} </span> </div>
    </div>
</div>
<md-button class="md-raised" href="/room" ng-click="gameVm.endGame()">
    End Game
</md-button>