<div layout="column">
    <h2 class="md-toolbar-tools">
        <span flex ng-bind="'Room #' + roomVm.getCode"></span>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                    <md-icon md-svg-icon="action:settings" aria-label="settings"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="roomVm.showSettingsDialog($event)">Set Special Roles</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
    </h2>
    <span>Special Roles: <span ng-repeat="(role, value) in roomVm.getRoomSelectedRoles"><span ng-if="value">{{ role }} </span></span></span>

    <md-list>
        <md-subheader class="md-no-sticky">
            <span>Players</span>
        </md-subheader>
        <md-list-item ng-repeat="participant in roomVm.getParticipants" class="noright">
            <img alt="{{ participant.userName }}" ng-src="{{ participant.avatar }}" class="md-avatar"/>
            <p>
                <span ng-bind="participant.userName"></span>
                <span ng-if="roomVm.participantIsUser(participant._id)">(You)</span>
                        <md-icon ng-if="roomVm.participantIsMaster(participant._id)"
                                             md-svg-icon="key" aria-label="key"></md-icon>
                        <md-icon ng-if="roomVm.isMaster() && !roomVm.participantIsMaster(participant._id)"
                                 ng-click="roomVm.removeParticipant(participant._id)"
                                 md-svg-icon="remove" aria-label="remove"></md-icon>
            </p>
        </md-list-item>
    </md-list>

    <div class="menu-demo-container" layout-align="start center" layout="column">
        <h3 class="md-subhead">
            <div ng-if="roomVm.isMaster()">
                <div ng-if="roomVm.hasEnoughPlayers">
                    <md-button id="startGameBtn" class="md-raised md-primary" ng-click="roomVm.gameStarting()">
                        Start Game
                    </md-button>
                </div>
                <div ng-if="!roomVm.hasEnoughPlayers" id="textDisplay1">
                    You need at least 5 players to start the game.
                </div>
            </div>
            <div ng-if="!roomVm.isMaster()">
                <div ng-if="roomVm.hasEnoughPlayers">
                    Waiting for the game leader to start game
                </div>
                <div ng-if="!roomVm.hasEnoughPlayers">
                    You need at least 5 players to start the game.
                </div>
            </div>
        </h3>
        <md-button class="md-raised" href="/" ng-click="roomVm.leaveRoom()">
            Back
        </md-button>
    </div>
</div>



