<div layout="column">

    <div layout="row" id="topBarDisplay">
        <div id="roomCodeDisplay">
            Room Code is: {{roomVm.getCode.code}}
        </div>
        <div id="settingsDisplay">
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                    <md-icon md-svg-icon="action:settings" aria-label="settings"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item><md-button ng-click="roomVm.showSettingsDialog($event)">Do Something</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>

    <div id="userNameDisplay">
        Your user name is: {{roomVm.user.userName}}
    </div>
    <div id="imgContainer">
        <img id="userAvatar" ng-src={{roomVm.user.avatar}}>
    </div>

    <div id="participantsBlock">
        <div id="participantsDisplay">Number of Participants: ({{roomVm.participants.length}})</div>
        <div id=peopleDisplay ng-repeat="people in roomVm.participants">
            <li><p>{{people.userName}} <span ng-if="roomVm.participantIsMaster(people._id) == true"><md-icon md-svg-icon="key" aria-label="key"></md-icon></span></p></li>
        </div>
    </div>
    <div id="textDisplay">
        <div ng-if="roomVm.isMaster() == true">
            <div ng-if="roomVm.hasEnoughPlayers">
                <md-button id="startGameBtn" class="md-raised md-primary" ng-click="roomVm.gameStarting()">
                    Start Game
                </md-button>
            </div>
            <div ng-if="!roomVm.hasEnoughPlayers" id="textDisplay1">
                You need at least 5 players to start the game.
            </div>
        </div>
        <div ng-if="!roomVm.isMaster()" id="textDisplay2">
            <div ng-if="roomVm.hasEnoughPlayers">
                Waiting for the game leader to start game
            </div>
            <div ng-if="!roomVm.hasEnoughPlayers">
                You need at least 5 players to start the game.
            </div>
        </div>
    </div>

    <div id="roomBackBtn">
        <md-button class="md-raised" href="/" ng-click="roomVm.leaveRoom()">
            Back
        </md-button>
    </div>

</div>



