<md-dialog aria-label="Settings Dialog">
      <md-dialog-content>
          <div layout="column">
              <div id="checkMerlin">
                  <md-checkbox ng-model="dialogVm.selectedRoles.Merlin" ng-change="dialogVm.checkMerlin()" aria-label="Merlin/Assassin">
                      Merlin/Assassin
                  </md-checkbox>
              </div>
              <div id="checkPercival">
                  <md-checkbox ng-model="dialogVm.selectedRoles.Percival"  ng-change="dialogVm.checkPercival()" aria-label="Percival" ng-disabled="!dialogVm.selectedRoles.Merlin">
                      Percival
                  </md-checkbox>
              </div>
              <div id="checkMorgana">
                  <md-checkbox ng-model="dialogVm.selectedRoles.Morgana" ng-change="dialogVm.checkBadRoles()" aria-label="Morgana" ng-disabled="!dialogVm.selectedRoles.Percival || dialogVm.disableMorgana()">
                      Morgana
                  </md-checkbox>
              </div>
              <div id="checkMordred">
                  <md-checkbox ng-model="dialogVm.selectedRoles.Mordred" ng-change="dialogVm.checkBadRoles()" aria-label="Mordred" ng-disabled="!dialogVm.selectedRoles.Merlin || dialogVm.disableMordred()">
                      Mordred
                  </md-checkbox>
              </div>
              <div id="checkOberon">
                  <md-checkbox ng-model="dialogVm.selectedRoles.Oberon" ng-change="dialogVm.checkBadRoles()" aria-label="Oberon" ng-disabled="dialogVm.disableOberon()">
                      Oberon
                  </md-checkbox>
              </div>
          </div>
      </md-dialog-content>
      <md-dialog-actions>
          <h5 class="dialogMasterOnlyTxt" ng-if="!dialogVm.user.master">Only the Game Master can change these settings!</h5>
              <md-button ng-click="dialogVm.save(dialogVm.selectedRoles)" ng-if="dialogVm.user.master" class="md-primary">
                  Apply
              </md-button>

           <md-button ng-click="dialogVm.closeDialog()" class="md-primary">
                 Cancel
                </md-button>
        </md-dialog-actions>
</md-dialog>